:root {
    --rotVar1: 0deg;
    --rotVar2: 0deg;
    --rotVar3: 0deg;
    --rotVar4: 0deg;
    --rotVar5: 0deg;
    --rotVar6: 0deg;
}

#squaresWrapper {
    background-color: rgb(0, 250, 226);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow: hidden;
  }
  
  .square {
    background-color: rgb(0, 250, 226);
    width: 100%;
    padding-top: 100%;
    position: relative;
    transition: rotate 2s linear 1s;
    background-image: url("kyleP2.svg");
    background-size: 300%;
  }
  
  .square:nth-child(1) {
    background-position: top left;
    transform: rotate(var(--rotVar0));
  }
  
  .square:nth-child(2) {
    background-position: top center;
    transform: rotate(var(--rotVar1));
  }
  
  .square:nth-child(3) {
    background-position: top right;
    transform: rotate(var(--rotVar2));
  }
  
  .square:nth-child(4) {
    background-position: bottom left;
    transform: rotate(var(--rotVar3));
  }
  
  .square:nth-child(5) {
    background-position: bottom center;
    transform: rotate(var(--rotVar4));
  }
  
  .square:nth-child(6) {
    background-position: bottom right;
    transform: rotate(var(--rotVar5));
  }