:root {
  /*these "dontscroll" variables allow me to freeze the scrolling on the main page and first-level modal when child modals are open */
  --dontScrollBody-Height: auto;
  --dontScrollBody-Overflow: auto;
  --dontScrolDetail-Height: auto;
  --dontScrollDetail-Overflow: auto;
  --columnRowGap: 1vw;
}

body {
  margin: 0;
  font-family: base-mono-wide, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 100%, 55%);
}

img {
  width: 100%;
  max-width: 100%;
}

.main-wrapper {
  width: 100vw;
  position: relative;
  text-align: left;
  max-height: var(--dontScrollBody-Height);
  overflow: var(--dontScrollBody-Overflow);
}

.content-wrapper {
  max-width: 1200px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--columnRowGap);
  margin: auto;
  padding: 0px 2.5% 2.5% 2.5%;
  grid-row-gap: var(--columnRowGap);
  grid-auto-flow: row;
}

.one { /*first content wrapper for main page*/
  padding-top: 12.5vh;
  height: 87.5vh;
  grid-auto-rows: 1fr;
}

.two { /*second content wrapper for main page*/
  padding-top: 12.5vh;
  min-height: 87.5vh;
  grid-auto-rows: 1fr;
}

.three { /*grid for the modal*/
  padding-top: 12.5vh;
  min-height: 87.5vh;
  grid-auto-flow: column dense;
  grid-auto-rows: min-content;
}

.hero-image-wrapper {
  grid-column: 2 / span 3;
  grid-row: 1;
  object-fit: cover;
  overflow: hidden;
  max-height: 50vh;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  position: relative;
}

.header-text {
  position: absolute;
  left: 0;
  bottom: -.215em;
  font-weight: 700;
  font-size: 110px;
  padding: 0;
}

.nav-links-wrapper {
  position: relative;
  grid-column: 1;
  grid-row: 2;
}

.nav-links {
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  position: absolute;
  top: 0;
}

.nav-link-scroll {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px hsl(0, 100%, 55%);
}

.intro-text-wrapper {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.intro-text {
  line-height: 22px;
  position: absolute;
  top: 0;
}

.content-thumb {
  height: 0;
  padding-top: 75%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.content-thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content-text {
  padding-top: 18px;
  width: 100%;
  overflow: hidden;
}

.content-title {
  font-size: 18px;
}

.content-caption {
  font-size: 18px;
}


.oneColImg {
  grid-column: 2 / span 1;
  grid-row: auto / span 1;
}

.twoColImg {
  grid-column: 3 / span 2;
  grid-row: auto / span 2;
}

.threeColImg {
  grid-column: 2 / span 3;
}

.exit {
  padding: 3px 10px 3px 10px;
  background-color: hsl(0, 100%, 55%);
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
}

.detailText {
  position: fixed;
  width: calc(25% - 20px);
  max-width: 280px;
}

.multi-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 88.5vh;
  background-color: white;
  z-index: 2;
  max-height: var(--dontScrollDetail-Height);
  overflow: var(--dontScrollDetail-Overflow);
  }

.detail-modal-background {
  z-index: 3;
  position: absolute;
  width: 100vw;
  min-height: 88.5vh;
  background-color: rgba(100, 100, 100, .5);
  }
  
.singleImgDetail {
  max-width: 1200px;
  padding: 12.5vh 0px 12.5vh 0px;
  margin: auto;
  align-self: center;
  overflow-y: auto;
}