:root {
  /*these "dontscroll" variables allow me to freeze the scrolling on the main page and first-level modal when child modals are open */
  --dontScrollBody-Height: auto;
  --dontScrollBody-Overflow: auto;
  --dontScrolDetail-Height: auto;
  --dontScrollDetail-Overflow: auto;
  /* and this to keep the vertical and horizontal gutters even*/
  --columnRowGap: 2vw;
  --paddingTop: 12.5vh;
  /*this sets X position of fixed div for detail text in 1st level modal*/
  --detailTextLeft: auto;
  /* this gives us a width for the detail text in that 1st level modal */
  --fixedTextDivWidth: auto;
}

body {
  margin: 0;
  font-family: array-mono, serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  min-width: 100%;
  max-width: 100%;
}

p {
  word-wrap: break-word;
}

.main-wrapper {
  width: 100vw;
  position: relative;
  text-align: left;
  max-height: var(--dontScrollBody-Height);
  overflow: var(--dontScrollBody-Overflow);
}

.content-wrapper {
  max-width: 75vw;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--columnRowGap);
  margin: auto;
  padding: 0px 5% 2.5% 5%;
  grid-row-gap: var(--columnRowGap);
  grid-auto-flow: row;
  box-sizing: border-box;
}

.one { /*first content wrapper for main page*/
  padding-top: var(--paddingTop);
  min-height: 100vh;
  /* max-height: 100vh; */
  grid-auto-rows: max-content;
}

.two { /*second content wrapper for main page*/
  padding-top: var(--paddingTop);
  min-height: 100vh;
  /* grid-auto-rows: 1fr; */
  grid-auto-rows: max-content;

}

.three { /*grid for the modal*/
  padding-top: var(--paddingTop);
  min-height: 100vh;
  grid-auto-flow: column dense;
  grid-auto-rows: min-content;
  z-index: 4;
  position: relative;
}

.hero-image-wrapper {
  grid-column: 2 / span 3;
  grid-row: 1;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 0;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  position: relative;
}

.header-text {
  font-family: mono45-headline, monospace;
  position: absolute;
  left: 0;
  bottom: -.215em;
  font-weight: 700;
  font-size: 110px;
  padding: 0;
}

.nav-links-wrapper {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

.nav-link {
  margin-top: 8%;
  margin-bottom: -3%;
  padding: 0px;
}

.navArrow {
  background-image: url("components/arrow.svg");
  background-repeat: no-repeat;
  grid-row: 2;
  grid-column: 2 / span 1;
  margin-left: -15%;
  margin-top: -5%;
}

#scroll {
  color: rgb(0, 7, 237)
}

.bigLink {
  color: black;
}

.intro-text-wrapper {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.intro-text {
  line-height: 22px;
  font-size: 14px;
}

.content-item-wrapper {
  grid-column: auto / span 1;
}

.content-thumb {
  height: 0;
  padding-top: 75%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

.content-text {
  padding-top: 5%;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
}

.content-title {
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  font-family: mono45-headline, monospace;
}

.content-caption {
  font-size: 14px;
  line-height: 22px;
  margin-top: -.5em;
}

.oneColImg {
  grid-column: 2 / span 1;
  grid-row: auto / span 1;
}

.twoColImg {
  grid-column: 3 / span 2;
  grid-row: auto / span 2;
}

.threeColImg {
  grid-column: 2 / span 3;
}

.exit {
  padding: 3px 10px 3px 10px;
  background-color: rgb(0, 250, 226);
  color: white;
  font-family: mono45-headline, monospace;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.fixedText {
  position: fixed;
  transform: translateX(var(--detailTextLeft));
  padding-top: var(--paddingTop);
  /* padding-left: 5%; */
  min-height: 100vh;
  /* grid-auto-flow: column dense;
  grid-auto-rows: min-content; */
  width: var(--fixedTextDivWidth);
  z-index: 5;
}

.detailText {
  font-size: 14px;
  overflow: scroll;
  max-height: 80vh;
  /* height: 80vh; */
  /* grid-column: 1; */
}

.detailText::-webkit-scrollbar {
  display: none;
}

.multi-modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  z-index: 2;
  max-height: var(--dontScrollDetail-Height);
  overflow: var(--dontScrollDetail-Overflow);
  }

.detail-modal-background {
  z-index: 3;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(100, 100, 100, .5);
  }
  
.singleImgDetail {
  max-width: 1200px;
  padding: 12.5vh 0px 12.5vh 0px;
  margin: auto;
  align-self: center;
  overflow-y: auto;
}

.threeColText {
  grid-column: 2 / span 3;
  margin-top: -2.5%;
  line-height: 1.5em;
}

@media only screen and (max-width: 1000px) {
  .one {
    max-height: none;
    height: auto;
  }

  .nav-links-wrapper {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: left;
    margin-bottom: 3%;
    margin-top: 15%;
  }

  .nav-link {
    align-self: flex-start;
    margin-top: 5%;
  }

  .navArrow {
    grid-column: 3 / span 2;
    grid-row: 2;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: -8%;
    background-position: left bottom;
    background-image: url("components/arrow2.svg");
  }

  .intro-text-wrapper {
    grid-column: 1 / span 4;
    grid-row: 3;
    margin-top: 10%;
  }

  .hero-image-wrapper {
    grid-column: 1 / span 4;
  }

  .content-item-wrapper {
    grid-column: auto / span 4;
  }

  .fixedText {
    transform: translateX(0px);
    padding-top: var(--paddingTop);
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    min-height: auto;
    position: relative;    
    /* margin-left: auto;
    margin-right: auto; */
    }

  .detailText {
    grid-column: 1 / span 4;
    width: 100%;
    max-width: 100%;
    max-height: none;    
  }

  .oneColImg, .twoColImg, .threeColImg {
    grid-column: 1 / span 4;
  }

  :root {
    --paddingTop: 8vh;
  }

  .content-wrapper {
    width: 96%;
    max-width: 95vw;
    padding-left: 2%;
    padding-right: 2%;
  }

  .threeColText {
    grid-column: 1 / span 4;
  }
}