body {
  margin: 0;
  font-family: base-mono-wide, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(0, 100%, 55%);
}

.main-wrapper {
  width: 100vw;
  position: relative;
  text-align: left;
}

.content-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  margin: auto;
  padding: 0;
  grid-auto-rows: 1fr;
  grid-row-gap: 20px;
}

.one { /*first content wrapper for main page*/
  padding-top: 12.5vh;
  height: 87.5vh;
}

.two { /*second content wrapper for main page*/
  padding-top: 12.5vh;
  min-height: 87.5vh;
}

.hero-image-wrapper {
  grid-column: 2 / span 3;
  grid-row: 1;
  object-fit: cover;
  overflow: hidden;
  max-height: 50vh;
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  position: relative;
}

.header-text {
  position: absolute;
  left: 0;
  bottom: -.215em;
  font-weight: 700;
  font-size: 110px;
  padding: 0;
}

.nav-links-wrapper {
  position: relative;
  grid-column: 1;
  grid-row: 2;
}

.nav-links {
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  position: absolute;
  top: 0;
}

.nav-link-scroll {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px hsl(0, 100%, 55%);
}

.intro-text-wrapper {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.intro-text {
  line-height: 22px;
  position: absolute;
  top: 0;
}

.content-thumb {
  height: 0;
  padding-top: 75%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.content-thumb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content-text {
  padding-top: 18px;
  width: 100%;
  overflow: hidden;
}

.content-title {
  font-size: 18px;
}

.content-caption {
  font-size: 18px;
}


img {
  max-width: 100%;
}

.detail-shade {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.detail-img-container {
  max-width: 20%;
}